# coverage configuration file

[run]
#omit =
#    # remove site.py from coveralls reports
#    */lib/*

[paths]
source =
    */site-packages/galerie/

[report]
# omit =

include = */galerie.py

exclude_lines =
    not used